.flag {
	position: relative;
}

.flag-segment-wrapper,
.flag-segment {
	position: absolute;
	height: 100%;
	top: 0;
}

.flag-segment {
	width: 100%;
	left: 100%;
	background: red;
}

.flag-segment-wrapper > .flag-segment {
	left: 0;
}