// Wrappers

.flag {
    perspective: 400px; 
    position: relative;

    * {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transform-origin: top left;
    }
}

.flag-segment-wrapper,
.flag-segment,
.flag-segment-overlay {
	position: absolute;
	height: 100%;
	top: 0;
}

// Segments

.flag-segment {
	width: 100%;
	left: 100%;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: calc(100% + 1px);
		background: #004B87;
		background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png);
		background-size: cover;
		background-attachment: local;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.flag-segment-wrapper > .flag-segment {
	left: 0;
}

// Overlay lights and shadows

.flag-segment-overlay {
	width: 100%;
}

.flag-segment-light {
	background: rgba(255,255,255,0.3);
}

.flag-segment-dark {
	background: rgba(0,0,0,0.3);
}

// Pole

.pole {
	background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(225,225,225,1) 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	height: 600px;
	width: 10px;
	position: absolute;
	top: 15px;
	left: -5px;
	border-radius: 5px;
}